#authorized-apps-tab .children_aba8cb {
  counter-reset: section -1;
  position: relative;
}
#authorized-apps-tab .children_aba8cb > .authedApp__71a52 {
  counter-increment: section;
}
#authorized-apps-tab .children_aba8cb::after {
  counter-increment: section;
  content: "Authorized Apps: "counter(section);
  order: -1;
  position: absolute;
  color: var(--header-primary);
  top: -44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
